@{
    ViewData["Title"] = "Home Page";
}
<p><p></p>
    Welcome to the world of Battlemon! In this world, Battlemon battles are really popular.
    People use their Battlemon to fight against each other. The aim is to defeat all the opponent Battlemon.
<p><p>
    Are you ready for this adventure? Register now to play the game!
